<div class="wrap-cart">
  {% if cart %}
  <h1>Корзина</h1>
  <div class="wrap-cart-products">
    {% for product in cart.getProp('products') %}
    <div class="cart-product">
      <h3>{{ product.details.getProp('title') }}</h3>
      <div>
        <img src="img/min/{{ product.details.getProp('path') }}.jpg" alt="{{ product.details.getProp('path') }}">
      </div>
      <form id="cart_{{ product.id }}" action="/?c=cart&a=update" method="post">
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="number" name="amount" min="1" value="{{ product.amount }}" required>
        <input type="submit" value="Изменить количество">
      </form>
      <div class="cart-product-total-price">
        Стоимость: {{ product.amount * product.details.getProp('price') }} руб.
      </div>
      <input form="cart_{{ product.id }}" formaction="/?c=cart&a=remove" type="submit" value="Удалить товар">
    </div>
    {% endfor %}
    <p>Общая стоимость: {{ cart.getProp('totalPrice') }} руб.</p>
  </div>
  <form method="post">
    <input formaction="#" type="submit" value="Оформить заказ">
  </form>
  {% elseif message %}
  <h2>{{ message }}</h2>
  {% else %}
  <h2>Ваша карзина пуста</h2>
  {% endif %}
</div>

